@page
@model apicommercialair.web.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "Admin Home";
}

<h1>Dashboard view</h1>


@section Scripts{
    <script>

        $(document).ready(function () {
            $("a#lnk-adm-home").addClass("active");
        });
    </script>

}